<head>
    <link rel="stylesheet" href="/stylesheets/auth.css">
    <title>MDA | signup</title>
</head>
<div class="authForm form">
    <form class="innerForm" method="POST">
        <h2 class="heading">Sign up</h2>
        <input type="text" name="nId" placeholder="National ID">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">sign up</button>
        <h2 class="switch">Already have an account?<a href="./login">login</a></h2>
    </form>
</div>