<head>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <script defer src="/javascripts/header.js"></script>
</head>
<div class="header">
    <img class="navIcon" src="/images/mda.svg" alt="" width="150" height="50">
    <img class="navMenuBtn" src="/images/icons/menu.svg" alt="" width="30" height="30">
</div>