<head>
    <link rel="stylesheet" href="/stylesheets/scrollbar.css">
    <script defer src="/javascripts/scrollbar.js"></script>
</head>
<div class="scrollblock"></div>
<div class="scrollbar">
    <div class="scroller">
        <div class="position">
            <div id="poseTop"></div>
            <div></div>
            <div id="poseBot"></div>
        </div>
    </div>
</div>