<head>
    <link rel="stylesheet" href="/stylesheets/allPage.css">
    <title>MDA | <%= locals.name %></title>
</head>
<div class="form" style="width: 100%;height: 100%;display: grid;place-items: center;">All <%= locals.name %> page is currently unavailable</div>